<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="QRLibraryConnection"
         connectionString="server=localhost;database=QRLibrary;uid=root;pwd=YOUR_PASSWORD;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

</configuration>